// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// styles.scss



@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Caudex:wght@700&family=Cinzel+Decorative:wght@700&family=DM+Sans:ital@1&family=Federo&family=Italiana&family=Krona+One&family=Space+Grotesk:wght@500&family=Syne:wght@600&family=Viaoda+Libre&display=swap');


:root {
  --ion-color-primary: #FFBD00;
  --ion-color-primary-rgb: 255, 189, 0;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #e0a600;
  --ion-color-primary-tint: #ffc41a;
  --ion-color-secondary: #FF5400;
  --ion-color-secondary-rgb: 255, 84, 0;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #e04a00;
  --ion-color-secondary-tint: #ff651a;
  --ion-color-tertiary: #FF5400;
  --ion-color-tertiary-rgb: 255, 84, 0;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #e04a00;
  --ion-color-tertiary-tint: #ff651a;
  --ion-color-success: #390099;
  --ion-color-success-rgb: 57, 0, 153;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #320087;
  --ion-color-success-tint: #4d1aa3;
  --ion-color-warning: FFB600;
  --ion-color-warning-rgb: 255, 182, 0;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0a000;
  --ion-color-warning-tint: #ffbd1a;
  --ion-color-danger: #9E0059;
  --ion-color-danger-rgb: 158, 0, 89;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #8b004e;
  --ion-color-danger-tint: #a81a6a;
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}